/* Add CSS Styling */

.but{
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}
.butOne{
    background-color: hsl(0, 0%, 0%);
    color: rgb(255, 255, 255);
}
.butTwo{
    background-color: yellow;
}